:root {
  // Цвета
  --color-bg: #FFFFF1;
  --color-green: #92A134;
  --color-txt-black: #424436;
  --color-txt-white: #ffffff;
  --color-txt-muted: #8B8B8B;
  --color-sale: #F26D22;
  --color-cards: #F2F6D3;
  --color-line: #DDDDDD;
  --sale-card: #ffffff;
  --light-grey: #F2F6D3;
  

  // Шрифт
  --font-main: Montserrat, sans-serif;

  // Радиус
  --radius-small: 6px;
  --radius-big: 12px;
}

.dark_theme {
  --color-bg: #424436;
  --color-green: #92A134;
  --color-txt-black: #ffffff;
  --color-txt-white: #424436;
  --color-txt-muted: #8B8B8B;
  --color-sale: #F26D22;
  --color-cards: #383A2C;
  --color-line: #8B8B8B;
  --sale-card: #383A2C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  
  a {
    text-decoration: none;
    color: inherit;
}
  ul {
    list-style: none;
  }

  button {
    cursor: pointer;
  }
}